{% extends "layout.html" %} {% block content %}
<h1>LLOLBAS - Living Off The Land Binaries and Scripts (and also Libraries)</h1>
<body>
  Search and find applications and scripts which could meet your needs on a
  windows system! <br /><br />
  <b>Assets Found: {{ data.count }}</b>
</body>
<input
  id="bin-search"
  type="text"
  placeholder="Search among {{ data.count }} binaries by name (e.g., 'MSBuild') or by function (e.g., '/execute') or by type (e.g., '#Script')"
/>
{% set count = [] %}
<div id="bin-table-wrapper">
  <table id="bin-table">
    <thead>
      <tr>
        <th>Binary</th>
        <th>Functions</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <!-- Binaries -->
      {% for bins in data.Binaries %}
      <tr>
        {% set name = bins.Name %} {% set type = "Binaries" %} {% set pname =
        bins.pname %} {% set variate = bins %}
        <td><a href="/{{ bins.pname }}" class="bin-name">{{ name }}</a></td>
        <td>{% include 'function_list.html' %}</td>
        <td>{{ type }}</td>
        {% do count.append(1) %}
      </tr>
      {% endfor %}

      <!-- Libraries -->
      {% for libs in data.Libraries %}
      <tr>
        {% set name = libs.Name %} {% set type = "Libraries" %} {% set pname =
        libs.pname %} {% set variate = libs %}
        <td><a href="/{{ libs.pname }}" class="bin-name">{{ name }}</a></td>
        <td>{% include 'function_list.html' %}</td>
        <td>{{ type }}</td>
        {% do count.append(1) %}
      </tr>
      {% endfor %}

      <!-- OtherMSBinaries -->
      {% for omsb in data.OtherMSBinaries %}
      <tr>
        {% set name = omsb.Name %} {% set type = "OtherMSBinaries" %} {% set
        pname = omsb.pname %} {% set variate = omsb %}
        <td><a href="/{{ omsb.pname }}" class="bin-name">{{ name }}</a></td>
        <td>{% include 'function_list.html' %}</td>
        <td>{{ type }}</td>
        {% do count.append(1) %}
      </tr>
      {% endfor %}

      <!-- Scripts -->
      {% for script in data.Scripts %}
      <tr>
        {% set name = script.Name %} {% set type = "Binaries" %} {% set pname =
        script.pname %} {% set variate = script %}
        <td><a href="/{{ script.pname }}" class="bin-name">{{ name }}</a></td>
        <td>{% include 'function_list.html' %}</td>
        <td>{{ type }}</td>
        {% do count.append(1) %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td id="search-message" colspan="2">No binary matches...</td>
      </tr>
    </tfoot>
  </table>
</div>

<script>
  // https://www.w3schools.com/howto/howto_js_sort_table.asp
  (function () {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("bin-table");
    switching = true;
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
            first, which contains table headers): */
      for (i = 1; i < rows.length - 1; i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
                one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[0];
        y = rows[i + 1].getElementsByTagName("TD")[0];
        // Check if the two rows should switch place:
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  })();
</script>

<script>
  function filter(query) {
    // consistently update the URL
    location.hash = query;

    // determine the query type
    var queryType = query[0];
    if (queryType === "/" || queryType === "#") {
      query = query.slice(1);
    }

    // filter rows
    var noResults = true;
    document.querySelectorAll("#bin-table tbody tr").forEach(function (row) {
      var binName = row.children[0].firstElementChild.innerText.toLowerCase();
      var functions = Array.from(row.children[1].firstElementChild.children)
        .map(function (x) {
          return x.innerText;
        })
        .join("\n")
        .toLowerCase();

      var types = row.children[2].textContent.toLowerCase();

      if (queryType === "/") {
        var against = functions;
      } else if (queryType === "#") {
        var against = types;
      } else {
        var against = binName;
      }

      if (against.indexOf(query) !== -1) {
        row.style.display = "";
        noResults = false;
      } else {
        row.style.display = "none";
      }
    });

    // update the search message visibility
    var searchMessage = document.getElementById("search-message");
    searchMessage.style.display = noResults ? "table-cell" : "none";
  }

  (function () {
    var searchBox = document.getElementById("bin-search");

    // ensure height during filtering
    var binTableWrapper = document.getElementById("bin-table-wrapper");
    binTableWrapper.style.height = binTableWrapper.clientHeight + "px";

    // handle user input
    searchBox.addEventListener("input", function () {
      var query = searchBox.value.toLowerCase().trim();
      filter(query);
    });

    // handle shortcuts
    addEventListener("keydown", function (event) {
      // focus search box on valid keydown
      if (
        event.key.toLowerCase().match(/^[\/a-z]$/) &&
        !(event.ctrlKey || event.altKey || event.metaKey)
      ) {
        searchBox.focus();
      }
      // clear filter on escape
      else if (event.key === "Escape") {
        searchBox.value = "";
        searchBox.focus();
        filter("");
      }
    });

    // filter on load according to the URL
    var query = decodeURIComponent(location.hash.slice(1));
    filter(query);
    if (query) {
      searchBox.value = query;
      searchBox.focus();
    }
  })();
</script>
<b>Sanity Check Count:</b> {{ count | length }} {% endblock content %}
